
<p *ngIf="!job">Loading...</p>
<div *ngIf="job?.id" fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h1 [routerLink]="['/jobs', job.id]">Job - {{ job.id }}</h1>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Title</label>
      <span>{{ job.title }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Description</label>
      <span>{{ job.description }}</span>
    </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">JobState</label>
        <span *ngIf="job.jobState" [routerLink]="['/jobstates', job.jobState.id]" class="cursor--pointer">
          {{ job.jobState.id }}
        </span>
      </div>
  </div>
</div>
