
<p *ngIf="!product">Loading...</p>
<div *ngIf="product?.id" fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h1 [routerLink]="['/products', product.id]">Product - {{ product.id }}</h1>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Name</label>
      <span>{{ product.name }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Code</label>
      <span>{{ product.code }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Quantity</label>
      <span>{{ product.quantity }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Price</label>
      <span>{{ product.price }}</span>
    </div>
  </div>
</div>
