<div fxLayout="column" fxLayoutAlign="start">
  <form [formGroup]="skillForm" (ngSubmit)="createSkill()" novalidate>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <h1>Add new Skill</h1>
      <button (click)="createSkill()" [disabled]="skillForm.invalid">Add</button>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Name</label>
        <input formControlName="name" placeholder="Name" required />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Description</label>
        <input formControlName="description" placeholder="Description" />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Resume ID</label>
        <input formControlName="resumeId" placeholder="Resume ID" />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Job ID</label>
        <input formControlName="jobId" placeholder="Job ID" />
      </div>
    </div>
  </form>
</div>
