<div fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h1>Contacts</h1>
    <a routerLink="/contacts/create">Add new Contact</a>
  </div>
  <div fxLayout="row" fxLayoutAlign="start">
    <p *ngIf="!contacts">Loading...</p>
    <p *ngIf="contacts && contacts.length === 0">No contacts added yet.</p>
    <table *ngIf="contacts && contacts.length > 0" cellspacing="0" cellpadding="5">
      <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Website</th>
        <th>Telephone</th>
        <th>Email</th>
        <th>Account</th>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts" [routerLink]="['/contacts', contact.id]">
          <td>{{ contact.firstName }}</td>
          <td>{{ contact.lastName }}</td>
          <td>{{ contact.website }}</td>
          <td>{{ contact.telephone }}</td>
          <td>{{ contact.email }}</td>
          <td *ngIf="contact.account" [routerLink]="['/accounts', contact.account.id]">
            {{ contact.account.name }}
          </td>
          <td *ngIf="!contact.account"></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
