/* You can add global styles to this file, and also import other style files */

// Minimal CSS Reset
// https://www.digitalocean.com/community/tutorials/css-minimal-css-reset

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// Make sure to implement focus on elements itself
*:focus {
  outline: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-spacing: 0px;

  td {
    padding: 8px 16px 8px 0px;
  }

  th,
  td {
    text-align: left;
  }
}

.clickable {
  cursor: pointer;
}
