<div fxLayout="column" fxLayoutGap="16px">
  <ng-container *ngIf="project$ | async as project">
    <div fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="16px">
      <h2>
        {{ project.name }}
      </h2>
      <div *ngIf="project.description">
        {{ project.description }}
      </div>
      <button (click)="generate()" type="button">Generate</button>
      <div fxFlex="1 1 auto" fxLayout="row" fxLayoutGap="16px">
        <textarea
          [value]="project.config | json"
          cols="40"
          rows="40"
          disabled="true"
        ></textarea>
      </div>
    </div>
  </ng-container>
</div>
