<div fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h1>Accounts</h1>
    <a routerLink="/accounts/create">Add new Account</a>
  </div>
  <div fxLayout="row" fxLayoutAlign="start">
    <p *ngIf="!accounts">Loading...</p>
    <p *ngIf="accounts && accounts.length === 0">No accounts added yet.</p>
    <table *ngIf="accounts && accounts.length > 0" cellspacing="0" cellpadding="5">
      <thead>
        <th>Name</th>
        <th>Website</th>
        <th>Telephone</th>
        <th>Email Address</th>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts" [routerLink]="['/accounts', account.id]" class="cursor--pointer">
          <td>
            {{ account.name }}
          </td>
          <td>
            {{ account.website }}
          </td>
          <td>
            {{ account.telephone }}
          </td>
          <td>
            {{ account.email }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
