<div fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h1>Accounts</h1>
    <a routerLink="/accounts/create">Add new Account</a>
  </div>
  <div fxLayout="row" fxLayoutAlign="start">
    <table cellspacing="0" cellpadding="5">
      <thead>
        <th>Name</th>
        <th>Website</th>
        <th>Telephone</th>
        <th>Email Address</th>
      </thead>
      <tbody>
        <tr *ngFor="let account of accounts" [routerLink]="['/accounts', account.id]">
          <td>{{ account.name }}</td>
          <td>{{ account.website }}</td>
          <td>{{ account.telephone }}</td>
          <td>{{ account.email }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
