
<p *ngIf="!contact">Loading...</p>
<div *ngIf="contact?.id" fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h1 [routerLink]="['/contacts', contact.id]">Contact - {{ contact.firstName }}</h1>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">First Name</label>
      <span>{{ contact.firstName }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Last Name</label>
      <span>{{ contact.lastName }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Website</label>
      <span>{{ contact.website }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Telephone</label>
      <span>{{ contact.telephone }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Email</label>
      <span>{{ contact.email }}</span>
    </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Account</label>
        <span *ngIf="contact.account" [routerLink]="['/accounts', contact.account.id]" class="cursor--pointer">
          {{ contact.account.name }}
        </span>
      </div>
  </div>
</div>
