<div fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h1>Suppliers</h1>
    <a routerLink="/suppliers/create">Add new Supplier</a>
  </div>
  <div fxLayout="row" fxLayoutAlign="start">
    <p *ngIf="!suppliers">Loading...</p>
    <p *ngIf="suppliers && suppliers.length === 0">No suppliers added yet.</p>
    <table *ngIf="suppliers && suppliers.length > 0" cellspacing="0" cellpadding="5">
      <thead>
        <th>Name</th>
        <th>Phone</th>
      </thead>
      <tbody>
        <tr *ngFor="let supplier of suppliers" [routerLink]="['/suppliers', supplier.id]" class="cursor--pointer">
          <td>
            {{ supplier.name }}
          </td>
          <td>
            {{ supplier.phone }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
