/* You can add global styles to this file, and also import other style files */

// Minimal CSS Reset
// https://www.digitalocean.com/community/tutorials/css-minimal-css-reset

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

// Make sure to implement focus on elements itself
*:focus {
  outline: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-weight: normal;
}
textarea {
  font-family: Arial, Helvetica, sans-serif;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

table {
  border-spacing: 0px;
  border-collapse: collapse;

  thead {
    border-bottom: 1px solid #aaaaaa;

    th {
      padding: 0px 16px 4px 4px;
      text-align: left;
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid #aaaaaa;
    }
    tr:hover {
      background-color: #eeeeee;
    }

    td {
      padding: 8px 16px 8px 4px;
      text-align: left;
    }
  }
}

.clickable {
  cursor: pointer;
}

.field {
  margin-bottom: 16px;

  label {
    font-weight: bold;
  }
}

.terminal {
  position: relative;
  width: 80%;
  max-width: 600px;
  border-radius: 6px;
  padding-top: 45px;
  margin-top: 8px;
  overflow: hidden;
  background-color: rgb(15, 15, 16);
}

.terminal::before {
  content: '\2022 \2022 \2022';
  position: absolute;
  top: 0;
  left: 0;
  height: 4px;
  background: rgb(58, 58, 58);
  color: #c2c3c4;
  width: 100%;
  font-size: 2rem;
  line-height: 0;
  padding: 14px 0;
  text-indent: 4px;
}

.terminal pre {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
  color: white;
  padding: 0 1rem 1rem;
  margin: 0;
}
