<div fxLayout="column" fxLayoutAlign="start">
  <form [formGroup]="documentForm" (ngSubmit)="createDocument()" novalidate>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <h1>Add new Document</h1>
      <button (click)="createDocument()" [disabled]="documentForm.invalid">Add</button>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Name</label>
        <input formControlName="name" placeholder="Name" required />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">DisplayName</label>
        <input formControlName="displayName" placeholder="DisplayName" />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Description</label>
        <input formControlName="description" placeholder="Description" />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Path</label>
        <input formControlName="path" placeholder="Path" />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">URL</label>
        <input formControlName="uRL" placeholder="URL" />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">MimeType</label>
        <input formControlName="mimeType" placeholder="MimeType" />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Resume ID</label>
        <input formControlName="resumeId" placeholder="Resume ID" />
      </div>
    </div>
  </form>
</div>
