<p *ngIf="!note">Loading...</p>
<div *ngIf="note?.id" fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <!-- #-#-# {C7F36FD4-5D57-4CBB-8B49-D6781BD5E2D0} -->
    <h1>Note - {{ note.title }}</h1>
    <!-- #-#-# -->
    <button (click)="deleteNote()">Delete</button>
    <button [routerLink]="['/notes', note.id, 'edit']">Edit</button>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Title</label>
      <span>{{ note.title }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Body</label>
      <span>{{ note.body }}</span>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h2>Accounts</h2>
    <a routerLink="/accounts/create" [queryParams]="{ noteId: note.id }">Add new Account</a>
    <a [routerLink]="['/notes', note.id, 'link', 'account']">Link existing Account</a>
  </div>
  <div fxLayout="row" fxLayoutAlign="start">
    <p *ngIf="note.accounts && note.accounts.length === 0">No accounts added yet.</p>
    <table *ngIf="note.accounts && note.accounts.length > 0" cellspacing="0" cellpadding="5">
      <thead>
        <th>Name</th>
        <th>Website</th>
        <th>Telephone</th>
        <th>Email Address</th>
      </thead>
      <tbody>
        <tr *ngFor="let account of note.accounts" [routerLink]="['/accounts', account.id]">
          <td>
            {{ account.name }}
          </td>
          <td>
            {{ account.website }}
          </td>
          <td>
            {{ account.telephone }}
          </td>
          <td>
            {{ account.email }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
