<#@ template language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ import namespace="CodeGen.Models" #>
using CodeGenOutput.API.Models;

namespace CodeGenOutput.API.Validation
{
    public interface IValidatorInitilizer
    {
        void Init();
    }
    
    public static class Validators
    {
<# foreach (CodeGenModel model in _config.Models.List) { #>
        public static <#= model.Name #>Validator <#= model.Name #>Validator = new <#= model.Name #>Validator();
<# } #>
        
        static Validators()
        {
<# foreach (CodeGenModel model in _config.Models.List) { #>
            <#= model.Name #>Validator.Init();
<# } #>
        }
    }
}
