<div fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h1>Skills</h1>
    <a routerLink="/skills/create">Add new Skill</a>
  </div>
  <div fxLayout="row" fxLayoutAlign="start">
    <p *ngIf="!skills">Loading...</p>
    <p *ngIf="skills && skills.length === 0">No skills added yet.</p>
    <table *ngIf="skills && skills.length > 0" cellspacing="0" cellpadding="5">
      <thead>
        <th>Name</th>
        <th>Description</th>
      </thead>
      <tbody>
        <tr *ngFor="let skill of skills" [routerLink]="['/skills', skill.id]" class="cursor--pointer">
          <td>
            {{ skill.name }}
          </td>
          <td>
            {{ skill.description }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
