<div fxLayout="column" fxLayoutGap="16px">
  <h2>Projects</h2>
  <div fxLayout="column" fxLayoutGap="8px">
    <ng-container *ngFor="let project of projects$ | async">
      <div
        class="clickable"
        [routerLink]="project.id"
        fxLayout="row"
        fxLayoutGap="16px"
      >
        <!-- <div fxFlex="330px">{{ project.id.toUpperCase() }}</div> -->
        <div>{{ project.name }}</div>
        <div>{{ project.description }}</div>
      </div>
    </ng-container>
  </div>
</div>
