<p *ngIf="!productDetail">Loading...</p>
<div *ngIf="productDetail?.id" fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <!-- #-#-# {C7F36FD4-5D57-4CBB-8B49-D6781BD5E2D0} -->
    <h1>ProductDetail - {{ productDetail.id }}</h1>
    <!-- #-#-# -->
    <button (click)="deleteProductDetail()">Delete</button>
    <button [routerLink]="['/productdetails', productDetail.id, 'edit']">Edit</button>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Comment</label>
      <span>{{ productDetail.comment }}</span>
    </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Product</label>
        <span *ngIf="productDetail.product" [routerLink]="['/products', productDetail.product.id]" class="cursor--pointer">
          {{ productDetail.product.id }}
        </span>
      </div>
  </div>
</div>
