<div fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h1>Products</h1>
    <a routerLink="/products/create">Add new Product</a>
  </div>
  <div fxLayout="row" fxLayoutAlign="start">
    <p *ngIf="!products">Loading...</p>
    <p *ngIf="products && products.length === 0">No products added yet.</p>
    <table *ngIf="products && products.length > 0" cellspacing="0" cellpadding="5">
      <thead>
        <th>Name</th>
        <th>Code</th>
        <th>Quantity</th>
        <th>Price</th>
      </thead>
      <tbody>
        <tr *ngFor="let product of products" [routerLink]="['/products', product.id]" class="cursor--pointer">
          <td>
            {{ product.name }}
          </td>
          <td>
            {{ product.code }}
          </td>
          <td>
            {{ product.quantity }}
          </td>
          <td>
            {{ product.price }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
