
<p *ngIf="!resumeState">Loading...</p>
<div *ngIf="resumeState?.id" fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h1 [routerLink]="['/resumestates', resumeState.id]">ResumeState - {{ resumeState.id }}</h1>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Name</label>
      <span>{{ resumeState.name }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">DisplayName</label>
      <span>{{ resumeState.displayName }}</span>
    </div>
  </div>
</div>
