<div fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h1>Documents</h1>
    <a routerLink="/documents/create">Add new Document</a>
  </div>
  <div fxLayout="row" fxLayoutAlign="start">
    <p *ngIf="!documents">Loading...</p>
    <p *ngIf="documents && documents.length === 0">No documents added yet.</p>
    <table *ngIf="documents && documents.length > 0" cellspacing="0" cellpadding="5">
      <thead>
        <th>Name</th>
        <th>DisplayName</th>
        <th>Description</th>
        <th>Path</th>
        <th>URL</th>
        <th>MimeType</th>
      </thead>
      <tbody>
        <tr *ngFor="let document of documents" [routerLink]="['/documents', document.id]" class="cursor--pointer">
          <td>
            {{ document.name }}
          </td>
          <td>
            {{ document.displayName }}
          </td>
          <td>
            {{ document.description }}
          </td>
          <td>
            {{ document.path }}
          </td>
          <td>
            {{ document.uRL }}
          </td>
          <td>
            {{ document.mimeType }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
