<div *ngIf="resume?.id" fxLayout="column" fxLayoutAlign="start">
  <form [formGroup]="resumeForm" (ngSubmit)="updateResume()" novalidate>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <h1>Resume - {{ resume.id }}</h1>
      <button (click)="deleteResume()">Delete</button>
      <button (click)="updateResume()" [disabled]="resumeForm.invalid">Save</button>
      <button (click)="updateResume(true)" [disabled]="resumeForm.invalid">Save and Close</button>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Job Title</label>
        <input formControlName="jobTitle" placeholder="Job Title" />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Description</label>
        <input formControlName="description" placeholder="Description" />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">ResumeState ID</label>
        <input formControlName="resumeStateId" placeholder="ResumeState ID" required />
      </div>
    </div>
  </form>
</div>
