
<p *ngIf="!todo">Loading...</p>
<div *ngIf="todo?.id" fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h1 [routerLink]="['/todos', todo.id]">Todo - {{ todo.title }}</h1>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Title</label>
      <span>{{ todo.title }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Due</label>
      <span>{{ todo.dueDate }}</span>
    </div>
  </div>
</div>
