<div *ngIf="job?.id" fxLayout="column" fxLayoutAlign="start">
  <form [formGroup]="jobForm" (ngSubmit)="updateJob()" novalidate>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <h1>Job - {{ job.id }}</h1>
      <button (click)="deleteJob()">Delete</button>
      <button (click)="updateJob()" [disabled]="jobForm.invalid">Save</button>
      <button (click)="updateJob(true)" [disabled]="jobForm.invalid">Save and Close</button>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Title</label>
        <input formControlName="title" placeholder="Title" />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Description</label>
        <input formControlName="description" placeholder="Description" />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">JobState ID</label>
        <input formControlName="jobStateId" placeholder="JobState ID" required />
      </div>
    </div>
  </form>
</div>
