<ng-container *ngIf="(account$ | async) === null">
  <p>Loading...</p>
</ng-container>
<ng-container *ngIf="account$ | async as account">
  <div fxLayout="column" fxLayoutGap="16px">
    <header fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="32px">
      <h2 class="title">Account: {{ account.name }}</h2>
      <div fxLayout="row" fxLayoutGap="16px">
        <button fxFlex="100px" (click)="delete()">Delete</button>
        <button fxFlex="100px" routerLink="edit">Edit</button>
      </div>
    </header>
    <main fxLayout="column" fxLayoutGap="16px">
      <div fxLayout="row wrap" fxLayoutGap="16px">
        <div class="field" fxLayout="column" fxLayoutGap="4px">
          <label>Name</label>
          <div>{{ account.name }}</div>
        </div>
        <div class="field" fxLayout="column" fxLayoutGap="4px">
          <label>Description</label>
          <div>{{ account.description }}</div>
        </div>
        <div class="field" fxLayout="column" fxLayoutGap="4px">
          <label>Telephone</label>
          <div>{{ account.telephone }}</div>
        </div>
        <div class="field" fxLayout="column" fxLayoutGap="4px">
          <label>E-mail</label>
          <div>{{ account.email }}</div>
        </div>
        <div class="field" fxLayout="column" fxLayoutGap="4px">
          <label>Website</label>
          <div>{{ account.website }}</div>
        </div>
      </div>
      <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="16px">
        <div class="field" fxLayout="column" fxLayoutGap="4px">
          <label>Date created</label>
          <div>{{ account.dateCreated | date: "dd/MM/yyyy HH:mm:ss" }}</div>
        </div>
        <div class="field" fxLayout="column" fxLayoutGap="4px">
          <label>Date modified</label>
          <div>{{ account.dateModified | date: "dd/MM/yyyy HH:mm:ss" }}</div>
        </div>
      </div>
    </main>
  </div>
</ng-container>
