<div fxLayout="column" fxLayoutAlign="start">
  <form [formGroup]="noteForm" (ngSubmit)="createNote()" novalidate>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <h1>Add new Note</h1>
      <button (click)="createNote()" [disabled]="noteForm.invalid">Create</button>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px grid">
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Title</label>
        <input formControlName="title" placeholder="Title" required />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Body</label>
        <input formControlName="body" placeholder="Body" />
      </div>
    </div>
  </form>
</div>
