<div fxLayout="column" fxLayoutAlign="start">
  <form [formGroup]="resumeForm" (ngSubmit)="createResume()" novalidate>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <h1>Add new Resume</h1>
      <button (click)="createResume()" [disabled]="resumeForm.invalid">Add</button>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Job Title</label>
        <input formControlName="jobTitle" placeholder="Job Title" />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Description</label>
        <input formControlName="description" placeholder="Description" />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">ResumeState ID</label>
        <input formControlName="resumeStateId" placeholder="ResumeState ID" required />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Document ID</label>
        <input formControlName="documentId" placeholder="Document ID" />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Skill ID</label>
        <input formControlName="skillId" placeholder="Skill ID" />
      </div>
    </div>
  </form>
</div>
