<div fxLayout="column" fxLayoutAlign="start">
  <form [formGroup]="addressForm" (ngSubmit)="createAddress()" novalidate>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <h1>Add new Address</h1>
      <button fxFlex="100px" mat-button color="primary" (click)="createAddress()" [disabled]="addressForm.invalid">Create</button>
    </div>
    <div fxLayout="column" fxLayoutAlign="start">
      <div fxFlex>
        <input formControlName="street" placeholder="Street" />
      </div>
      <div fxFlex>
        <input formControlName="number" placeholder="Number" />
      </div>
      <div fxFlex>
        <input formControlName="postalCode" placeholder="Postal Code" />
      </div>
      <div fxFlex>
        <input formControlName="city" placeholder="City" />
      </div>
      <div fxFlex>
        <input formControlName="primary" placeholder="Primary" />
      </div>
    </div>
  </form>
</div>
