<div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
  <a routerLink="/documents" routerLinkActive="bold">Documents</a>
  <a routerLink="/resumes" routerLinkActive="bold">Resumes</a>
  <a routerLink="/resumestates" routerLinkActive="bold">ResumeStates</a>
  <a routerLink="/skills" routerLinkActive="bold">Skills</a>
  <a routerLink="/skillaliases" routerLinkActive="bold">SkillAliases</a>
  <a routerLink="/jobs" routerLinkActive="bold">Jobs</a>
  <a routerLink="/jobstates" routerLinkActive="bold">JobStates</a>
</div>
