<p *ngIf="!skill">Loading...</p>
<div *ngIf="skill?.id" fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <!-- #-#-# {C7F36FD4-5D57-4CBB-8B49-D6781BD5E2D0} -->
    <h1>Skill - {{ skill.id }}</h1>
    <!-- #-#-# -->
    <button (click)="deleteSkill()">Delete</button>
    <button [routerLink]="['/skills', skill.id, 'edit']">Edit</button>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Name</label>
      <span>{{ skill.name }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Description</label>
      <span>{{ skill.description }}</span>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h2>SkillAliases</h2>
    <a routerLink="/skillaliases/create" [queryParams]="{ skillId: skill.id }">Add new SkillAlias</a>
  </div>
  <div fxLayout="row" fxLayoutAlign="start">
    <p *ngIf="skill.skillaliases && skill.skillaliases.length === 0">No skillaliases added yet.</p>
    <table *ngIf="skill.skillaliases && skill.skillaliases.length > 0" cellspacing="0" cellpadding="5">
      <thead>
        <th>Name</th>
        <th>Description</th>
      </thead>
      <tbody>
        <tr *ngFor="let skillAlias of skill.skillaliases" [routerLink]="['/skillaliases', skillAlias.id]">
          <td>
            {{ skillAlias.name }}
          </td>
          <td>
            {{ skillAlias.description }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h2>Resumes</h2>
    <a routerLink="/resumes/create" [queryParams]="{ skillId: skill.id }">Add new Resume</a>
    <a [routerLink]="['/skills', skill.id, 'link', 'resume']">Link existing Resume</a>
  </div>
  <div fxLayout="row" fxLayoutAlign="start">
    <p *ngIf="skill.resumes && skill.resumes.length === 0">No resumes added yet.</p>
    <table *ngIf="skill.resumes && skill.resumes.length > 0" cellspacing="0" cellpadding="5">
      <thead>
        <th>Job Title</th>
        <th>Description</th>
      </thead>
      <tbody>
        <tr *ngFor="let resume of skill.resumes" [routerLink]="['/resumes', resume.id]">
          <td>
            {{ resume.jobTitle }}
          </td>
          <td>
            {{ resume.description }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h2>Jobs</h2>
    <a routerLink="/jobs/create" [queryParams]="{ skillId: skill.id }">Add new Job</a>
    <a [routerLink]="['/skills', skill.id, 'link', 'job']">Link existing Job</a>
  </div>
  <div fxLayout="row" fxLayoutAlign="start">
    <p *ngIf="skill.jobs && skill.jobs.length === 0">No jobs added yet.</p>
    <table *ngIf="skill.jobs && skill.jobs.length > 0" cellspacing="0" cellpadding="5">
      <thead>
        <th>Title</th>
        <th>Description</th>
      </thead>
      <tbody>
        <tr *ngFor="let job of skill.jobs" [routerLink]="['/jobs', job.id]">
          <td>
            {{ job.title }}
          </td>
          <td>
            {{ job.description }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
