<div fxLayout="column" fxLayoutAlign="start">
  <form [formGroup]="accountForm" (ngSubmit)="createAccount()" novalidate>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <h1>Add new Account</h1>
      <button (click)="createAccount()" [disabled]="accountForm.invalid">Add</button>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px grid">
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Name</label>
        <input formControlName="name" placeholder="Name" required />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Website</label>
        <input formControlName="website" placeholder="Website" />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Telephone</label>
        <input formControlName="telephone" placeholder="Telephone" />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Email Address</label>
        <input formControlName="email" placeholder="Email Address" />
      </div>
    </div>
  </form>
</div>
