<div *ngIf="supplier?.id" fxLayout="column" fxLayoutAlign="start">
  <form [formGroup]="supplierForm" (ngSubmit)="updateSupplier()" novalidate>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <h1>Supplier - {{ supplier.id }}</h1>
      <button (click)="deleteSupplier()">Delete</button>
      <button (click)="updateSupplier()" [disabled]="supplierForm.invalid">Save</button>
      <button (click)="updateSupplier(true)" [disabled]="supplierForm.invalid">Save and Close</button>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Name</label>
        <input formControlName="name" placeholder="Name" required />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Phone</label>
        <input formControlName="phone" placeholder="Phone" />
      </div>
    </div>
  </form>
</div>
