
<p *ngIf="!address">Loading...</p>
<div *ngIf="address?.id" fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h1 [routerLink]="['/addresses', address.id]">Address - {{ address.street }}</h1>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Street</label>
      <span>{{ address.street }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Number</label>
      <span>{{ address.number }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Postal Code</label>
      <span>{{ address.postalCode }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">City</label>
      <span>{{ address.city }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Primary</label>
      <input type="checkbox" [ngModel]="address.primary" disabled>
    </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Account</label>
        <span *ngIf="address.account" [routerLink]="['/accounts', address.account.id]" class="cursor--pointer">
          {{ address.account.name }}
        </span>
      </div>
  </div>
</div>
