<p *ngIf="!supplier">Loading...</p>
<div *ngIf="supplier?.id" fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <!-- #-#-# {C7F36FD4-5D57-4CBB-8B49-D6781BD5E2D0} -->
    <h1>Supplier - {{ supplier.id }}</h1>
    <!-- #-#-# -->
    <button (click)="deleteSupplier()">Delete</button>
    <button [routerLink]="['/suppliers', supplier.id, 'edit']">Edit</button>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Name</label>
      <span>{{ supplier.name }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Phone</label>
      <span>{{ supplier.phone }}</span>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h2>Products</h2>
    <a routerLink="/products/create" [queryParams]="{ supplierId: supplier.id }">Add new Product</a>
    <a [routerLink]="['/suppliers', supplier.id, 'link', 'product']">Link existing Product</a>
  </div>
  <div fxLayout="row" fxLayoutAlign="start">
    <p *ngIf="supplier.products && supplier.products.length === 0">No products added yet.</p>
    <table *ngIf="supplier.products && supplier.products.length > 0" cellspacing="0" cellpadding="5">
      <thead>
        <th>Name</th>
        <th>Code</th>
        <th>Quantity</th>
        <th>Price</th>
      </thead>
      <tbody>
        <tr *ngFor="let product of supplier.products" [routerLink]="['/products', product.id]">
          <td>
            {{ product.name }}
          </td>
          <td>
            {{ product.code }}
          </td>
          <td>
            {{ product.quantity }}
          </td>
          <td>
            {{ product.price }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
