<div *ngIf="contact?.id" fxLayout="column" fxLayoutAlign="start">
  <form [formGroup]="contactForm" (ngSubmit)="updateContact()" novalidate>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <h1>Contact - {{ contact.firstName }}</h1>
      <button (click)="deleteContact()">Delete</button>
      <button (click)="updateContact()" [disabled]="contactForm.invalid">Save</button>
      <button (click)="updateContact(true)" [disabled]="contactForm.invalid">Save and Close</button>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px grid">
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">First Name</label>
        <input formControlName="firstName" placeholder="First Name" required />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Last Name</label>
        <input formControlName="lastName" placeholder="Last Name" required />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Website</label>
        <input formControlName="website" placeholder="Website" />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Telephone</label>
        <input formControlName="telephone" placeholder="Telephone" />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Email</label>
        <input formControlName="email" placeholder="Email" />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Account ID</label>
        <input formControlName="accountId" placeholder="Account ID" />
      </div>
    </div>
  </form>
</div>
