
<p *ngIf="!productDetail">Loading...</p>
<div *ngIf="productDetail?.id" fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h1 [routerLink]="['/productdetails', productDetail.id]">ProductDetail - {{ productDetail.id }}</h1>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Comment</label>
      <span>{{ productDetail.comment }}</span>
    </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Product</label>
        <span *ngIf="productDetail.product" [routerLink]="['/products', productDetail.product.id]" class="cursor--pointer">
          {{ productDetail.product.id }}
        </span>
      </div>
  </div>
</div>
