<div class="layout" fxLayout="column" fxLayoutGap="16px">
  <header fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="32px">
    <h1 class="title" routerLink="/">CodeGenOutput</h1>
    <nav fxLayout="row" fxLayoutGap="16px">
      <div class="link" routerLink="/accounts" routerLinkActive="active">
        Accounts
      </div>
      <div class="link" routerLink="/contacts" routerLinkActive="active">
        Contacts
      </div>
    </nav>
  </header>
  <main>
    <router-outlet></router-outlet>
  </main>
</div>
