.layout {
  padding: 16px;
}

header {
  .title {
    cursor: pointer;

    &:focus {
      outline: 0;
    }
  }

  nav .link {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      outline: 0;
    }

    &.active {
      font-weight: bold;
    }
  }
}
