.layout {
  padding: 16px;
}

header {
  .title {
    cursor: pointer;
  }

  nav .link {
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &.active {
      font-weight: bold;
    }
  }
}
