<p *ngIf="!resume">Loading...</p>
<div *ngIf="resume?.id" fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <!-- #-#-# {C7F36FD4-5D57-4CBB-8B49-D6781BD5E2D0} -->
    <h1>Resume - {{ resume.id }}</h1>
    <!-- #-#-# -->
    <button (click)="deleteResume()">Delete</button>
    <button [routerLink]="['/resumes', resume.id, 'edit']">Edit</button>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Job Title</label>
      <span>{{ resume.jobTitle }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Description</label>
      <span>{{ resume.description }}</span>
    </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">ResumeState</label>
        <span *ngIf="resume.resumeState" [routerLink]="['/resumestates', resume.resumeState.id]" class="cursor--pointer">
          {{ resume.resumeState.id }}
        </span>
      </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h2>Documents</h2>
    <a routerLink="/documents/create" [queryParams]="{ resumeId: resume.id }">Add new Document</a>
    <a [routerLink]="['/resumes', resume.id, 'link', 'document']">Link existing Document</a>
  </div>
  <div fxLayout="row" fxLayoutAlign="start">
    <p *ngIf="resume.documents && resume.documents.length === 0">No documents added yet.</p>
    <table *ngIf="resume.documents && resume.documents.length > 0" cellspacing="0" cellpadding="5">
      <thead>
        <th>Name</th>
        <th>DisplayName</th>
        <th>Description</th>
        <th>Path</th>
        <th>URL</th>
        <th>MimeType</th>
      </thead>
      <tbody>
        <tr *ngFor="let document of resume.documents" [routerLink]="['/documents', document.id]">
          <td>
            {{ document.name }}
          </td>
          <td>
            {{ document.displayName }}
          </td>
          <td>
            {{ document.description }}
          </td>
          <td>
            {{ document.path }}
          </td>
          <td>
            {{ document.uRL }}
          </td>
          <td>
            {{ document.mimeType }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h2>Skills</h2>
    <a routerLink="/skills/create" [queryParams]="{ resumeId: resume.id }">Add new Skill</a>
    <a [routerLink]="['/resumes', resume.id, 'link', 'skill']">Link existing Skill</a>
  </div>
  <div fxLayout="row" fxLayoutAlign="start">
    <p *ngIf="resume.skills && resume.skills.length === 0">No skills added yet.</p>
    <table *ngIf="resume.skills && resume.skills.length > 0" cellspacing="0" cellpadding="5">
      <thead>
        <th>Name</th>
        <th>Description</th>
      </thead>
      <tbody>
        <tr *ngFor="let skill of resume.skills" [routerLink]="['/skills', skill.id]">
          <td>
            {{ skill.name }}
          </td>
          <td>
            {{ skill.description }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
