<div fxLayout="column" fxLayoutAlign="start">
  <form [formGroup]="resumeStateForm" (ngSubmit)="createResumeState()" novalidate>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <h1>Add new ResumeState</h1>
      <button (click)="createResumeState()" [disabled]="resumeStateForm.invalid">Add</button>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Name</label>
        <input formControlName="name" placeholder="Name" required />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">DisplayName</label>
        <input formControlName="displayName" placeholder="DisplayName" required />
      </div>
    </div>
  </form>
</div>
