<div fxLayout="column" fxLayoutAlign="start">
  <form [formGroup]="contactForm" (ngSubmit)="createContact()" novalidate>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <h1>Add new Contact</h1>
      <button fxFlex="100px" mat-button color="primary" (click)="createContact()" [disabled]="contactForm.invalid">Create</button>
    </div>
    <div fxLayout="column" fxLayoutAlign="start">
      <div fxFlex>
        <input formControlName="firstName" placeholder="First Name" required />
      </div>
      <div fxFlex>
        <input formControlName="lastName" placeholder="Last Name" required />
      </div>
      <div fxFlex>
        <input formControlName="website" placeholder="Website" />
      </div>
      <div fxFlex>
        <input formControlName="telephone" placeholder="Telephone" />
      </div>
      <div fxFlex>
        <input formControlName="email" placeholder="Email" />
      </div>
    </div>
  </form>
</div>
