<div fxLayout="column" fxLayoutAlign="start">
  <form [formGroup]="contactForm" (ngSubmit)="createContact()" novalidate>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <h1>Add new Contact</h1>
      <button (click)="createContact()" [disabled]="contactForm.invalid">Add</button>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">First Name</label>
        <input formControlName="firstName" placeholder="First Name" required />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Last Name</label>
        <input formControlName="lastName" placeholder="Last Name" required />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Website</label>
        <input formControlName="website" placeholder="Website" />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Telephone</label>
        <input formControlName="telephone" placeholder="Telephone" />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Email</label>
        <input formControlName="email" placeholder="Email" />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Account ID</label>
        <input formControlName="accountId" placeholder="Account ID" />
      </div>
    </div>
  </form>
</div>
