<div fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h1>Notes</h1>
    <a routerLink="/notes/create">Add new Note</a>
  </div>
  <div fxLayout="row" fxLayoutAlign="start">
    <p *ngIf="!notes">Loading...</p>
    <p *ngIf="notes && notes.length === 0">No notes added yet.</p>
    <table *ngIf="notes && notes.length > 0" cellspacing="0" cellpadding="5">
      <thead>
        <th>Title</th>
        <th>Body</th>
      </thead>
      <tbody>
        <tr *ngFor="let note of notes" [routerLink]="['/notes', note.id]">
          <td>{{ note.title }}</td>
          <td>{{ note.body }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
