<form [formGroup]="form" (ngSubmit)="save()">
  <div fxLayout="column" fxLayoutGap="16px">
    <header fxLayout="row" fxLayoutAlign="space-between" fxLayoutGap="32px">
      <h2 class="title">New contact</h2>
      <div fxLayout="row" fxLayoutGap="16px">
        <button fxFlex="100px" type="submit" [disabled]="saving">Save</button>
      </div>
    </header>
    <main fxLayout="column" fxLayoutGap="16px">
      <div fxLayout="row wrap" fxLayoutGap="16px">
        <div class="field" fxLayout="column" fxLayoutGap="4px">
          <label>First name *</label>
          <input formControlName="firstName" type="text" />
        </div>
        <div class="field" fxLayout="column" fxLayoutGap="4px">
          <label>Last name *</label>
          <input formControlName="lastName" type="text" />
        </div>
        <div class="field" fxLayout="column" fxLayoutGap="4px">
          <label>Telephone</label>
          <input formControlName="telephone" type="text" />
        </div>
        <div class="field" fxLayout="column" fxLayoutGap="4px">
          <label>E-mail</label>
          <input formControlName="email" type="text" />
        </div>
        <div class="field" fxLayout="column" fxLayoutGap="4px">
          <label>Website</label>
          <input formControlName="website" type="text" />
        </div>
      </div>
    </main>
  </div>
</form>
