<p *ngIf="!account">Loading...</p>
<div *ngIf="account?.id" fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <!-- #-#-# {C7F36FD4-5D57-4CBB-8B49-D6781BD5E2D0} -->
    <h1>Account - {{ account.name }}</h1>
    <!-- #-#-# -->
    <button (click)="deleteAccount()">Delete</button>
    <button [routerLink]="['/accounts', account.id, 'edit']">Edit</button>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Name</label>
      <span>{{ account.name }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Website</label>
      <span>{{ account.website }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Telephone</label>
      <span>{{ account.telephone }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Email Address</label>
      <span>{{ account.email }}</span>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h2>Addresses</h2>
    <a routerLink="/addresses/create" [queryParams]="{ accountId: account.id }">Add new Address</a>
  </div>
  <div fxLayout="row" fxLayoutAlign="start">
    <p *ngIf="account.addresses && account.addresses.length === 0">No addresses added yet.</p>
    <table *ngIf="account.addresses && account.addresses.length > 0" cellspacing="0" cellpadding="5">
      <thead>
        <th>Street</th>
        <th>Number</th>
        <th>Postal Code</th>
        <th>City</th>
        <th>Primary</th>
      </thead>
      <tbody>
        <tr *ngFor="let address of account.addresses" [routerLink]="['/addresses', address.id]">
          <td>
            {{ address.street }}
          </td>
          <td>
            {{ address.number }}
          </td>
          <td>
            {{ address.postalCode }}
          </td>
          <td>
            {{ address.city }}
          </td>
          <td>
            <input type="checkbox" [ngModel]="address.primary" disabled>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h2>Contacts</h2>
    <a routerLink="/contacts/create" [queryParams]="{ accountId: account.id }">Add new Contact</a>
  </div>
  <div fxLayout="row" fxLayoutAlign="start">
    <p *ngIf="account.contacts && account.contacts.length === 0">No contacts added yet.</p>
    <table *ngIf="account.contacts && account.contacts.length > 0" cellspacing="0" cellpadding="5">
      <thead>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Website</th>
        <th>Telephone</th>
        <th>Email</th>
      </thead>
      <tbody>
        <tr *ngFor="let contact of account.contacts" [routerLink]="['/contacts', contact.id]">
          <td>
            {{ contact.firstName }}
          </td>
          <td>
            {{ contact.lastName }}
          </td>
          <td>
            {{ contact.website }}
          </td>
          <td>
            {{ contact.telephone }}
          </td>
          <td>
            {{ contact.email }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h2>Notes</h2>
    <a routerLink="/notes/create" [queryParams]="{ accountId: account.id }">Add new Note</a>
  </div>
  <div fxLayout="row" fxLayoutAlign="start">
    <p *ngIf="account.notes && account.notes.length === 0">No notes added yet.</p>
    <table *ngIf="account.notes && account.notes.length > 0" cellspacing="0" cellpadding="5">
      <thead>
        <th>Title</th>
        <th>Body</th>
      </thead>
      <tbody>
        <tr *ngFor="let note of account.notes" [routerLink]="['/notes', note.id]">
          <td>
            {{ note.title }}
          </td>
          <td>
            {{ note.body }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
