<div *ngIf="productDetail?.id" fxLayout="column" fxLayoutAlign="start">
  <form [formGroup]="productDetailForm" (ngSubmit)="updateProductDetail()" novalidate>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
      <h1>ProductDetail - {{ productDetail.id }}</h1>
      <button (click)="deleteProductDetail()">Delete</button>
      <button (click)="updateProductDetail()" [disabled]="productDetailForm.invalid">Save</button>
      <button (click)="updateProductDetail(true)" [disabled]="productDetailForm.invalid">Save and Close</button>
    </div>
    <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Comment</label>
        <input formControlName="comment" placeholder="Comment" required />
      </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Product ID</label>
        <input formControlName="productId" placeholder="Product ID" required />
      </div>
    </div>
  </form>
</div>
