
<p *ngIf="!skillAlias">Loading...</p>
<div *ngIf="skillAlias?.id" fxLayout="column" fxLayoutAlign="start">
  <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="20px">
    <h1 [routerLink]="['/skillaliases', skillAlias.id]">SkillAlias - {{ skillAlias.id }}</h1>
  </div>
  <div fxLayout="row wrap" fxLayoutAlign="start" fxLayoutGap="10px">
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Name</label>
      <span>{{ skillAlias.name }}</span>
    </div>
    <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
      <label class="bold">Description</label>
      <span>{{ skillAlias.description }}</span>
    </div>
      <div fxLayout="column" fxLayoutAlign="start" fxLayoutGap="5px" fxFlex>
        <label class="bold">Skill</label>
        <span *ngIf="skillAlias.skill" [routerLink]="['/skills', skillAlias.skill.id]" class="cursor--pointer">
          {{ skillAlias.skill.id }}
        </span>
      </div>
  </div>
</div>
